.my-green{
  background-color: #1abc9c;
}

.my-box{
  background-color: darkblue;
  height: 100px;
  width: 100%;
  border: 1px solid white;
}

#footer-up{
  background-color: #3a546d;
}

#footer-down{
  background-color: #2c3e50;
}